.modalPaper :global(.MuiPaper-root) {
  border-radius: 24px !important;
  padding: 40px !important;
  text-align: center;
  max-width: 480px !important;
}

.iconContainer {
  width: 90px;
  height: 90px;
  background-color: #FEE2E2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px auto !important;
}

.deleteIcon {
  color: #EF4444 !important;
  font-size: 48px !important;
}

.text {
  font-weight: bold !important;
  font-size: 1.3rem !important;
  color: #1f2937;
  display: block;
  margin-bottom: 50px !important;
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.deleteBtn {
  background-color: #F43F5E !important;
  color: white !important;
  border-radius: 12px !important;
  padding: 12px 0 !important;
  font-family: inherit !important;
  font-size: 1.1rem !important;
  width: 150px;
  box-shadow: none !important;
}

.deleteBtn:hover {
  background-color: #E11D48 !important;
}

.cancelBtn {
  background-color: #E5E7EB !important;
  color: #374151 !important;
  border-radius: 12px !important;
  padding: 12px 0 !important;
  font-family: inherit !important;
  font-size: 1.1rem !important;
  width: 150px;
  box-shadow: none !important;
}

.cancelBtn:hover {
  background-color: #d1d5db !important;
}