.modalPaper :global(.MuiPaper-root) {
  border-radius: 24px !important;
  padding: 15px;
}

.dialogTitle {
  font-family: inherit !important;
  font-weight: bold !important;
  text-align: center !important;
  font-size: 1.2rem !important;
  margin-bottom: 22px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
}

.customInput :global(.MuiOutlinedInput-root) {
  background-color: #f4f5f7 !important;
  border-radius: 12px !important;
}

.customInput :global(.MuiOutlinedInput-notchedOutline) {
  border: none !important;
}

.customInput input {
  text-align: right;
  padding: 14px !important;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 22px 26px !important;
}

.updateBtn {
  background-color: #327ef9 !important;
  color: white !important;
  border-radius: 16px !important;
  font-family: inherit !important;
  flex: 1;
  padding: 10px 0 !important;
}

.cancelBtn {
  background-color: #e5e7eb !important;
  color: #313b4a !important;
  border-radius: 16px !important;
  font-family: inherit !important;
  flex: 1;
  padding: 12px 0 !important;
}
